/res/RestaurantApp.pdf
/res/Link RestaurantApp.txt
target/
*.class
*.jar
*.log
.idea/
*.iml
.settings/
.project
.classpath

#Per report LaTeX : )
ReportLaTeX/*.aux
ReportLaTeX/*.bcf
ReportLaTeX/*.out
ReportLaTeX/*.run.xml
ReportLaTeX/*.toc
ReportLaTeX/*.synctex.gz
ReportLaTeX/*.log
ReportLaTeX/*.fls
ReportLaTeX/*.fdb_latexmk
